<%= form_for :session, url: session_path do |form| %>
  <section class="container">
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" , :class => 'sign-in-button'%>
    <%= link_to "Submit" , page_path("profile")%>
  </div>
  </section>
<% end %>
