<section class="container">
  <h1 class="title-ha">Find a Doctor You Trust</h1>
    <%= form_tag search_path, method: :get do %>
      <%= label_tag(:location_query, "Location", class: "label") %>
      <%= search_field_tag :location_query,
        params[:location_query],
        placeholder: "Search by Location",
        class: "label" %>
      <%= label_tag(:specialty_query, "Specialty", class: "label") %>
      <%= search_field_tag :specialty_query,
        params[:specialty_query],
        placeholder: "Search by Specialty",
        class: "label" %>
      <%= label_tag(:insurance_query, "Insurance", class: "label") %>
      <%= search_field_tag :insurance_query,
        params[:insurance_query],
        placeholder: "Search by Insurance",
        class: "label" %>
      <%= submit_tag "Find Me A Doctor", class: "search" %>
    <% end %>
  </form>
</section>

