<h1>Dr. <%= @user.last_name %>'s Profile</h1>

<p><%= @user.full_name %></p>
<p><%= @user.email %></p>
<p><%= @user.street_address %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.zip %></p>
<p><%= @user.phone %></p>

<div>
  <%= link_to "Edit Your Profile", edit_user_path(@user) %>
</div>
