<h1>Dr. <%= @user.last_name %>'s Profile</h1>

<p><%= @user.full_name %></p>
<p><%= @user.email %></p>
<p><%= @user.street_address %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.zip %></p>
<p><%= @user.phone %></p>

<div>
  <% if current_user == @user %>
    <div>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    </div>
    <div>
      <%= button_to "Delete Account",
        user_path(@user),
        method: :delete,
        data: { confirm: "Are you sure want to delete your account?" } %>
    </div>
  <% end %>
</div>
