<!DOCTYPE html>
<html>
<head>
  <title>Headr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
  <%= link_to "Psychologist Today", page_path("home") %>
  <% if signed_in? %>
    <div>Welcome back
      <%= link_to " Dr. #{current_user.last_name}", user_path(current_user) %>
    </div>
    <%= link_to "Sign out", session_path, method: :delete %>
  <% else %>
    <div class="sign">
    <%= link_to "Sign in", new_session_path, {:class => 'sign-in-button'} %>
    <%= link_to "Sign up", new_user_path, {:class => 'sign-up-button'} %>
    </div>
  <% end %>
  </header>

<%= yield %>

</body>
</html>
