<!DOCTYPE html>
<html>
<head>
  <title>Headr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="title">
      <%= link_to "Psychologist Today", page_path("home")%>
    </h1>

  <% if signed_in? %>
    <div class="sign-out">
    <%= link_to "Sign out", session_path, method: :delete, class: 'button secondary' %>
    <%= link_to "Profile", user_path(current_user), class: 'button' %>
    </div>

  <% else %>
    <div class="sign-out">
    <%= link_to "Sign in", new_session_path, class: 'button sign-in' %>
    <%= link_to "Doctor, Sign up", new_user_path , class: 'button' %>
    </div>
  <% end %>
  </header>

<%= yield %>
  <main class="container">
  </main>
</body>
</html>
